<header>
  <h1>Invoice</h1>
  <address contenteditable="">
    <p>Jonathan Neal</p>
    <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
    <p>(800) 555-1234</p>
  </address>
  <span><img alt="" src="logo.png" class=""><input type="file" accept="image/*"></span>
</header>
<article>
  <h1>Recipient</h1>
  <address contenteditable="">
    <p>Some Company<br>c/o Some Guy</p>
  </address>
  <table class="meta">
    <tbody><tr>
      <th><span contenteditable="">Invoice #</span></th>
      <td><span contenteditable=""><%= @invoice.Name %></span></td>
    </tr>
    <tr>
      <th><span contenteditable="">Date</span></th>
      <td><span contenteditable=""><%= Date.today.strftime('%B %e, %Y') %></span></td>
    </tr>
    <tr>
      <th><span contenteditable="">Amount Due</span></th>
      <td><span id="prefix" contenteditable="">$</span><span>600.00</span></td>
    </tr>
  </tbody></table>
  <table class="inventory">
    <thead>
      <tr>
        <th><span contenteditable="">Name</span></th>
        <th><span contenteditable="">Description</span></th>
        <th><span contenteditable="">Rate</span></th>
        <th><span contenteditable="">Quantity</span></th>
        <th><span contenteditable="">Price</span></th>
      </tr>
    </thead>
    <tbody>

      <% @line_items.each do |li| %>
        <tr>
          <td><a class="cut">-</a><span contenteditable=""><%= li.Name %></span></td>
          <td><span contenteditable=""></span></td>
          <td><span data-prefix="">$</span><span contenteditable=""><%= li.Unit_Price__c %></span></td>
          <td><span contenteditable=""><%= li.Quantity__c %></span></td>
          <td><span data-prefix="">$</span><span>600.00</span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a class="add">+</a>
  <table class="balance">
    <tbody><tr>
      <th><span contenteditable="">Total</span></th>
      <td><span data-prefix="">$</span><span>600.00</span></td>
    </tr>
    <tr>
      <th><span contenteditable="">Amount Paid</span></th>
      <td><span data-prefix="">$</span><span contenteditable="">0.00</span></td>
    </tr>
    <tr>
      <th><span contenteditable="">Balance Due</span></th>
      <td><span data-prefix="">$</span><span>600.00</span></td>
    </tr>
  </tbody></table>
</article>
<aside>
  <h1><span contenteditable="">Additional Notes</span></h1>
  <div contenteditable="">
    <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
  </div>
</aside>
