---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/Soap/u/29.0
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:partner.soap.sforce.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:partner.soap.sforce.com"
        xmlns:ins1="urn:sobject.partner.soap.sforce.com" xmlns:ins2="urn:fault.partner.soap.sforce.com"><env:Body><ins0:login><ins0:username>mfpiccolo@gmail.com</ins0:username><ins0:password>sac93!ronlMtOX4GbBiNSSLvOdI3PGdsur</ins0:password></ins0:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://na15.salesforce.com/services/Soap/m/29.0/00Di0000000iISf</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>false</sandbox><serverUrl>https://na15.salesforce.com/services/Soap/u/29.0/00Di0000000iISf</serverUrl><sessionId>00Di0000000iISf!AR8AQBfsACFztV_KiUhTA.scyo_dhAAoAgBwRFerapwvD.UyRjzJkm6v2cyilufVLAp2bQlQHBQjDuVVTpzNOCGNZr2L6SyY</sessionId><userId>005i0000002NdyWAAS</userId><userInfo><accessibilityMode>false</accessibilityMode><currencySymbol>$</currencySymbol><orgAttachmentFileSizeLimit>5242880</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode>USD</orgDefaultCurrencyIsoCode><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>false</orgHasPersonAccounts><organizationId>00Di0000000iISfEAM</organizationId><organizationMultiCurrency>false</organizationMultiCurrency><organizationName>New
        Leaders</organizationName><profileId>00ei0000001BdjiAAC</profileId><roleId
        xsi:nil="true"/><sessionSecondsValid>7200</sessionSecondsValid><userDefaultCurrencyIsoCode
        xsi:nil="true"/><userEmail>mfpiccolo@gmail.com</userEmail><userFullName>Mike
        Piccolo</userFullName><userId>005i0000002NdyWAAS</userId><userLanguage>en_US</userLanguage><userLocale>en_US</userLocale><userName>mfpiccolo@gmail.com</userName><userTimeZone>America/Los_Angeles</userTimeZone><userType>Standard</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 09 Jan 2014 17:38:49 GMT
- request:
    method: post
    uri: https://na15.salesforce.com/services/Soap/m/29.0/00Di0000000iISf
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://soap.sforce.com/2006/04/metadata"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://soap.sforce.com/2006/04/metadata"><env:Header><ins0:SessionHeader><ins0:sessionId>00Di0000000iISf!AR8AQBfsACFztV_KiUhTA.scyo_dhAAoAgBwRFerapwvD.UyRjzJkm6v2cyilufVLAp2bQlQHBQjDuVVTpzNOCGNZr2L6SyY</ins0:sessionId></ins0:SessionHeader></env:Header><env:Body><ins0:create><ins0:metadata
        xsi:type="ins0:CustomField"><ins0:fullName>Invoice__c.PDF_Link__c</ins0:fullName><tns:type>Url</tns:type><tns:label>PDF
        Link</tns:label></ins0:metadata></ins0:create></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"create"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><createResponse><result><done>false</done><id>04si00000012yPOAAY</id><state>InProgress</state></result></createResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 09 Jan 2014 17:38:50 GMT
- request:
    method: post
    uri: https://na15.salesforce.com/services/Soap/m/29.0/00Di0000000iISf
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://soap.sforce.com/2006/04/metadata"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://soap.sforce.com/2006/04/metadata"><env:Header><ins0:SessionHeader><ins0:sessionId>00Di0000000iISf!AR8AQBfsACFztV_KiUhTA.scyo_dhAAoAgBwRFerapwvD.UyRjzJkm6v2cyilufVLAp2bQlQHBQjDuVVTpzNOCGNZr2L6SyY</ins0:sessionId></ins0:SessionHeader></env:Header><env:Body><ins0:checkStatus><tns:ids>04si00000012yPOAAY</tns:ids></ins0:checkStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"checkStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><checkStatusResponse><result><done>true</done><id>04si00000012yPOAAY</id><message>There
        is already a field named PDF_Link on Invoice.</message><state>Error</state><statusCode>DUPLICATE_DEVELOPER_NAME</statusCode></result></checkStatusResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 09 Jan 2014 17:38:53 GMT
recorded_with: VCR 2.8.0
