<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if @user.model_names.present? %>
  <p>Invoice object API Name: <%= @user.model_names.first %></p>
  <% @user.model_names.each do |model_name| %>
    <% unless model_name == @user.model_names.first %>
      <p>Other object API Name: <%= model_name %></p>
    <% end %>
  <% end %>
<% end %>

