// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #67a2b8;
}

a.list-group-item{
  height: 60px;

  &:first-of-type {
    height: 60px;
  }
}

@media (max-width: 992px) {
  .dashboard-sidebar {
    width: 60px;
  }
  .page-wrapper {
    padding-left: 61px;
  }
}

@media (min-width: 992px) {
  .page-wrapper {
    padding-left: 241px;
  }
}
